<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Tea House - Tea Shop Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    {{ include("includes/link.html.twig") }}
    
    {% apply spaceless %}
        {% do pimcore_head_meta().setProperty('og:type', 'website') %}

        {# Favicon #}
        {% set favicon = pimcore_website_config('website_favicon') %}
        {% if favicon %}
            {% do pimcore_head_link().appendStylesheet(
            favicon.fullPath,
            null,
            null,
            {
                rel: "icon",
                type: "image/x-icon"
            }
            ) %}
        {% endif %}

        {% if not document is defined or not document %}
            {% set document = pimcore_document(1) %}
        {% endif %}

        {% if document is instanceof('\\Pimcore\\Model\\Document\\Link') %}
            {# @var document \Pimcore\Model\Document\Link #}
            {% set document = document.getElement() %}
        {% endif %}

        {% if document.getTitle() is not empty %}
            {% do pimcore_head_title(document.getTitle()) %}
        {% endif %}

        {% if document.getDescription() is not empty %}
            {% do pimcore_head_meta().setDescription(document.getDescription()) %}
        {% endif %}

    {% endapply %}

    {% block layout_head_meta deferred %}
        {{ pimcore_head_title() }}
        {{ pimcore_head_meta() }}
    {% endblock %}

    {% block head_stylesheets deferred %}
        {{ pimcore_head_link() }}
    {% endblock %}
</head>

<body>
    <!-- Spinner Start -->
    {# <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;"></div>
    </div> #}
    <!-- Spinner End -->
    
    {% if not editmode %}
        {{ include("includes/header.html.twig") }}
    {% endif %}

    {{ block("content") }}

    {% if not editmode %}
        {{ include("includes/footer.html.twig") }}
    {% endif %}

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>
   
    {{ include("includes/script.html.twig") }}
</body>

</html>